
a:link {color:black;}
a:visited {color:darkgreen;}
a:hover {color:deeppink;}
a:active {color:red;}
.topbar {background:#0022AA;width:99%;height:60px;border:1px solid black;color:white;font-weight:bold;margin:0px;valign:middle;font-size:50px;padding-left:5px;}
.linkbar {background:Aquamarine;width:99%;height:20px;border:1px solid black;color:#000066;font-weight:bold;margin:0px;valign:middle;font-size:16px;padding-left:5px;}
.sidebar {background:#EEEAC0;border:1px solid black;width:10%;height:100%;margin:0px;padding-left:10px;padding-right:10px;color:#0022AA;}
.content {background:CadetBlue;width:90%;margin:20px;padding-left:5px;padding-right:20px;padding-top:10px;padding-bottom:10px;}
.bottombar {background:black;height:10px;width:99%;padding-left:5px;}
